@font-face {
    font-family: 'Belinsky';
    src: url('../fonts/belinsky-text/Belinsky\ Text\ Bold.otf');
    src: url('../fonts/belinsky-text/Belinsky\ Text\ Regular.otf');
}

body {
    background-color: #fff;
    margin: 0;
    padding: 15px;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.home-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.score {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.hidden-word {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 21px;
    font-size: 24px;
    letter-spacing: 15px;
}

.hidden-word span {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 0 5px;
}

.game-container {
    display: flex;
    max-width: 1000px;
    height: 420px;
    margin: 0 auto;
}

.left-section {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(6, 45px);
    gap: 18px;
    height: 330px; /* Même hauteur que l'image du pendu */
}

.keyboard button {
    width: 55px;
    height: 55px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    background: white;
}

.right-section {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lives {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.hangman-img {
    max-height: 330px; /* Même hauteur que le clavier */
    width: auto;
}

.footer {
    position: static;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    padding: 10px 0;
}

.footer-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}