{{define "game"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/assets/css/game.css"/>
    <title>Hangman</title>
</head>
<body>
<div class="header">
    <a href="/">
        <svg class="home-icon" viewBox="0 0 24 24">
            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" fill="black"/>
        </svg>
    </a>
    <div class="score">
        <span>SAVED: {{ .FilteredGameState.Score }} Pts</span>
        <span>BEST: {{ .FilteredGameState.BestScore }} Pts</span>
    </div>
</div>

<div class="hidden-word">{{range .FilteredGameState.DisplayedWord}}{{.}}{{end}}</div>

<div class="game-container">
    <div class="left-section">
        <div>
            <form class="keyboard" method="post">
                {{range .Alphabet}}
                <button
                        class="{{if $.FilteredGameState.IsUsedLetter .}}used-letter{{else if $.FilteredGameState.IsWordsLetter .}}words-letter{{end}}"
                        type="submit"
                        formaction="/guess?letter={{.}}"
                        name="letter"
                        value="{{.}}"
                >
                    {{.}}
                </button>
                {{end}}
            </form>
        </div>
    </div>
    <div class="right-section">
        <div class="lives">
            {{ .FilteredGameState.DrawHearts }}
        </div>
        <img class="hangman-img" src="{{ .FilteredGameState.DrawHangman .FilteredGameState.Lives }}" alt=""/>
    </div>
</div>

<div class="footer">
    <svg class="footer-icon" viewBox="0 0 24 24">
        <path
                d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"
                fill="black"
        />
    </svg>
    <svg class="footer-icon" viewBox="0 0 24 24">
        <path
                d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02z"
                fill="black"
        />
    </svg>
</div>

{{if .FilteredGameState.GameOver}}
<div id="gameoverModal" class="modal" style="{{if .FilteredGameState.GameOver}} display: flex {{end}}">
    <div class="modal-content">
        <form action="/game" method="post">
            <input type="hidden" name="difficulty" value="{{ .FilteredGameState.Difficulty }}">
            <button id="replayButton" type="submit" class="button">{{if .FilteredGameState.Victory }} CONTINUER
                {{else}}REJOUER{{end}}
            </button>
        </form>
        <div>
            <h1>{{if .FilteredGameState.Victory}}
                SOLVED !
                {{else}}
                GAME OVER.
                YOU SAVED {{ .FilteredGameState.Score }} Pts
                {{end}}
            </h1>
            <p>Le mot était : {{ .Word }}</p>
        </div>
    </div>
</div>
{{end}}

</body>
</html>
{{end}}
