{{define "scores"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meilleurs Scores</title>
    <link rel="stylesheet" href="/assets/css/scores.css">
</head>
<body>
    <div class="scores-page">
        <div>
            <h1 class="page-title">Tableau des Scores</h1>
        </div>
    
        <div class="container">
            <div class="scores-table">
                <div class="tab-buttons">
                    Meilleurs Scores
                </div>
    
                <div id="highscores" class="tab-content">
                    <table>
                        <thead>
                            <tr>
                                <th>Rang</th>
                                <th>Joueur</th>
                                <th>Score</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $index, $score := .HighScores}}
                            <tr>
                                <td>{{$index | addOne}}</td>
                                <td>{{$score.Username}}</td>
                                <td>{{$score.Points}}</td>
                                <td>{{$score.FormattedDate}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div class="scores-table">
                <div class="tab-buttons">
                    Historique
                </div>
    
                <div id="history" class="tab-content">
                    <table>
                        <thead>
                            <tr>
                                <th>Joueur</th>
                                <th>Score</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $score := .History}}
                            <tr>
                                <td>{{$score.Username}}</td>
                                <td>{{$score.Points}}</td>
                                <td>{{$score.FormattedDate}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
        <div class="nav-buttons">
            <a href="/" class="home-button">Retour à l'accueil</a>
        </div>
    </div>

</body>
</html>
{{end}}